@font-face {
  font-family: retroFont;
  src: url(.//assets/Font/silkscreen/slkscr.ttf)
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #D6B4FC;
  font-family: retroFont;
  
}
header {
  text-align: center;
}

img {
  cursor: pointer;
  min-width: 180px;
  min-height: 180px;
}

button {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-family: retroFont;
}
#app {
  background-color: lightgoldenrodyellow;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;
}

.info_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_body {
  display: flex;
  flex-direction: column;

}

.controls {
  display: flex;
  gap: 1rem;

}

